body{
    background-image: url(imagens/fundo.png);
}
#imagem1 {
    position: absolute;
    left: 70px;
    top: 250px;
}
#imagem1:hover{
    border: 5px solid transparent;
}
#imagem2 {
    position: absolute;
    left: 500px;
    top: 250px;
}
#imagem2:hover{
    border: 5px solid transparent;
}
#imagem3 {
    position: absolute;
    left: 930px;
    top: 250px;
}
#imagem3:hover{
    border: 5px solid transparent;
}
#texto {
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 70px;
  }